<div class="container">
    <table>
        <thead>
            <td>Employee list</td>
            <td> Incentives</td>
            <td>MONTH</td>
        </thead>
        <tr>
            <td>Names </td>
            <td>- </td>
            <td>-</td>
        </tr>
    </table>
    <div class="form">
        <div class="section">
            <select name="userlist">
                <option value="User1">kavya</option>
                <option value="User3">kanmni</option>
                <option value="User4">Reshma</option>
                <option value="User6">Reena</option>
                <option value="User7">Reka</option>
                </select>
        </div>
            <div class="section">
                <mat-label>Type your name here</mat-label>
            </div>
            <div class="section">
                <input type="file">
            </div>
        <div class="actions">
            <button mat-stroked-button color="primary">Grab</button>
            <button mat-stroked-button color="accent">Reset</button>
        </div>
    </div>
</div>