<mat-card class="card employee_create">
    <mat-card-content>
        <h2 style="text-align: center;">Create Employee</h2>
        <form [formGroup]="userForm"  (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input type="text" matInput formControlName="firstName" placeholder="Name">
                    </mat-form-field>
                    <mat-radio-group formControlName="options">
                        <mat-radio-button value="male">Male</mat-radio-button> &nbsp;
                        <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input type="text" matInput formControlName="department" placeholder="Department"
                             >
                            <!-- <div *ngIf="submitted && f.dept.errors" class="invalid-feedback">
                                <div *ngIf="f.dept.errors.required">First Name is required</div>
                            </div> -->
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input type="text" matInput formControlName="degn" placeholder="Designation">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input type="email" matInput formControlName="email" placeholder="Email">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input type="password" matInput formControlName="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div style="text-align: center;" >
            <button class="button" mat-raised-button color="primary" (click)="onSubmit()">SUBMIT</button>
        </div>
    </mat-card-content>
</mat-card>