form{
    color: white;
    align-items: center;
    table{
        width: 70%;
        margin: auto;
    }
}
p{
    text-align: center;
    font-size: large;
    margin: 2%;
}
mat-divider{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
}
