<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile>
        <app-barchart class="charts"></app-barchart>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-piechart class="charts"></app-piechart>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-linechart class="charts"></app-linechart>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-radarchart class="charts"></app-radarchart>
    </mat-grid-tile>
</mat-grid-list>
<!-- <mat-grid-list cols="1" rowHeight="4:1">
        <mat-grid-tile>
            <app-linechart class="charts"></app-linechart>
        </mat-grid-tile>
</mat-grid-list> -->