.container{
    background-color:rgb(214, 249, 249);
    width: 40%;
    margin: auto;
    margin-top: 5%;
}
h2{
   text-align: center;
}
.form{
    padding: 5%;
    width: 90%;
}
.actions{
    text-align: right;
    button{
        margin: 1%;
    }
}