.listcompany {
    background: #fff;
    width: 500px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    border-top: 10px solid #ff008c;
    border-radius: 5px;
    color: #555;
    padding: 20px;
    background-color: #f6f6f6;
    margin-top: 50px;
}

.listcompany h1 {
    font-size: 25px;
    font-weight: 500;
    color: #ff008c;
}