.full-width{
    width: 100%;
}
button{
    margin: 1%;
}
.AddEvent_outer {
    background: #fff;
    width: 500px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    border-top: 10px solid #ff008c;
    border-radius: 5px;
    color: #555;
    padding: 20px;
    background-color: #f6f6f6;
}
.AddEvent_outer h2 {
    color: #000;
    font-size: 26px;
}