<div class="container" style="margin-top: 100px;">
    <div class="login-content">
        <div class="form_wrapper">
            <form [formGroup]="invoiceForm" action="">
                <h2 class="login-toolbar" color="primary">Add Invoice</h2>
                <div class="input_field">
                    Invoice Number:
                    <input type="text" formControlName="invoiceNum" placeholder="From">
                </div>
                <div class="input_field">
                    From:
                    <input type="text" formControlName="from" placeholder="From">
                </div>
                <div class="input_field">
                    From Address: <input type="text" matInput formControlName="fromAddress" placeholder="Name">
                 </div>
                <div class="input_field">
                   Phone: <input type="text" matInput formControlName="fromPhone" placeholder="Phone">
                </div>
                <div class="input_field">
                    To:
                    <input type="text" formControlName="to" placeholder="To">
                </div>
                <div class="input_field">
                    To Address: <input type="text" matInput formControlName="toAddress" placeholder=" To Address">
                 </div>
                <div class="input_field">
                   To Phone: <input type="text" matInput formControlName="toPhone" placeholder="Phone">
                </div>
                <div class="input_field">
                    Price: <input type="text" matInput formControlName="price" placeholder="Price">
                 </div>
                 <div class="input_field">
                    Qty: <input type="text" matInput formControlName="qty" placeholder="qty">
                 </div>
                <div class="input_field">
                   Amount: <input type="text" matInput formControlName="amount" placeholder="Amount">
                </div>
                <div class="input_field">
                    GST<input type="text" matInput formControlName="gst" placeholder="GST">
                </div>
                <div class="input_field">
                    Discount   <input type="text" matInput formControlName="discount" placeholder="Discount">
                </div>
                <div class="input_field">
                    Date   <input type="Date" matInput formControlName="date" placeholder="date">
                </div>
                <div class="btnSubmit">
                    <button [disabled]="invoiceForm.invalid" type="submit" (click)="save()" mat-raised-button
                        color="primary">Save</button>
                </div>
               
            </form>
           
        </div>
    </div>
</div>
